github "ReactiveX/RxSwift" "3.3.1"
github "Moya/Moya"
github "Quick/Quick"
github "Quick/Nimble"
github "RxSwiftCommunity/RxNimble"
github "thoughtbot/Curry"
github "thoughtbot/Runes"
github "thoughtbot/Argo"
github "wattson12/Moya-Argo"